
html {
    position: relative;
    min-height: 100%;
  }


body {
    background-color: rgb(255, 255, 255);
    color: rgb(11, 71, 124);
    width: 100%;
    margin-bottom: 60px; 
}


nav {
    margin-bottom: 40px;
}

nav ul li a:hover {
    color:#3d90c7
    
}


ul {
    list-style-type: none;
position: absolute;
letter-spacing: -0.006em;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;
text-transform: uppercase;
left: 15.5%;
top: 10%;
}

ul li {
    display : inline-block;
    width : 100px;
    margin-left: 100px;
    display : inline;
zoom : 1;

}

.footer {
    position: absolute;
width: 1440px;
height: 146px;
left: 0px;
bottom: 0px;
background:#090635;
}


a {
	position: relative;
	color: #0d0857; 
	cursor: pointer;
	line-height: 1; 
	text-decoration: none; 
}

a:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px; 
	background-color: #080424; 
	content: "";
	transition: width 0.3s ease-out; 
}

a:hover:after,
a:focus:after {
	width: 100%; 
}

.rectangle1 {
position: absolute;
height: 40px;
width: 40px;
border-radius: 50%/50%;
left: 150px;
top: 53px;

background: #FFFFFF;
}

.rectangle2 {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%/50%;
    left: 212px;
    top: 53px;
    
    background: #FFFFFF;
    }

    
    a.tg:after {
        content: none;
    }

a.tg:focus:after {
    content: none;   
}
  a.tg:hover:after {
    content: none;  
  }
  
  a.vk:after {
    content: none;
}

a.vk:focus:after {
content: none;  
}
a.vk:hover:after {
content: none;
}

h2 {
    color: #0d0857;
    position: absolute;
    width: 488px;
    height: 44px;
    left: 150px;
    top: 177px;
    
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 110%;
}

.animate {

position: absolute;
max-width: 560px;
height: 56px;
left: 150px;
top: 270px;

font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #0d0857;
}

#container {
    position: relative;
width: 267px;
height: 267px;
left: 300px;
top: 200px;
margin: 0 auto;

background: #FFFFFF;
box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
border-radius: 25px;
}

#circle {

    border-radius: 40px;
    background: #11999e;
    position: absolute;
    width: 80px;
height: 80px;
left: 0px;
top: 0px;
}

.content {
    position:relative;
    width: 840px;
text-align: center;
overflow: hidden;
margin-top: 188px;
display: block;
margin-left: auto;
margin-right: auto 
}


#img {
    position: relative; 
    box-sizing: border-box;
    width: 840px;
    height: 500px;
    top: -10px;
}

#text {
    position:absolute; 
    top: 84%;
    width: 840px;
height: 55px;
background:rgba(37, 37, 37, 0.5);
backdrop-filter: blur(5px);
font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 21px;
color: #FFFFFF;
text-align: center;
display: block;
margin-left: auto;
margin-right: auto 
}

.smallImg {
    position:relative;
    width: 840px;
    height: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto 

}

#img1, #img2, #img3, #img4 {
    width: 207px;
}

.leftright {
    position: absolute;
    margin-left: 18%;
    margin-right: auto;
    display: block;
    width: 1140px;
    position: absolute;
    margin-top: 15%;

}

.right {

    margin-left: 77%;

    }
    

#container1 {
    position: absolute;
    width: 463px;
    height: 250px;
    left: 247px;
    top: 200px;
    
    background: #FEFEFE;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

textarea{
    border: none;
    outline: none;
	-moz-appearance: none;
    resize: none;

}

#comment {
    width: 456px;
    height: 30px;
    font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;


color: rgba(37, 37, 37, 0.4);
}

#commentText {
    width: 456px;
    height: 170px;
    font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;

color: rgba(37, 37, 37, 0.4);
}

input {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background:#0d0857;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
}

input:hover {
    background:#3d90c7
}

.newCom {
    position: absolute;
    width: 456px;
height:  250px;
left: 800px;
top: 200px;


background: #FEFEFE;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);

}

#comment1 {
    position: absolute;
    width: 456px;
    height: 170px;
    font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
left: 850px;
top: 230px;


color: rgba(37, 37, 37, 0.4);
}

#commentText1 {
    position: absolute;
    width: 456px;
    height: 170px;
    font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
left: 850px;
top: 280px;


color: rgba(37, 37, 37, 0.4);
}

.list {
    left: -130px;
    position: absolute;
}

footer {
position: absolute;
width: 100%;
height: 146px;
left: 0px;
bottom: 0px;
background:#090635;
top: 100%
}

.tg {
    position: absolute;
left: 20.5%;
right: 27.5%;
top: 27.5%;
bottom: 27.5%;
}

.vk {
    position: absolute;
    left: 16.5%;
    right: 27.5%;
    top: 35.5%;
    bottom: 27.5%;
}

.mail {
    position: absolute;
width: 300px;
height: 21px;
bottom: 62px;
left: 80%;

font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color:#FEFEFE;
}

section {
    padding: 0px 200px;
    text-align: left;
    position: relative;
    top: 100px
  }

  .sections {
      left:auto;
      display: inline;
  }

  .me {
position: absolute;
top: 77px;
position:relative;
}

.name {
    position: absolute;
    max-width: 488px;
    height: 44px;
    top: 70px;
    margin: 0 0 40px 40px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 900;
font-size: 35px;
line-height: 110%;
letter-spacing: -0.006em;


color: #0d0857;
}

.myName {
    color:#3d90c7
}

.aboutMe {

    position: absolute;
max-width: 750px;
height: 114px;
top: 141px;
margin: 0 0 40px 40px;


font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;

    color: #0d0857;
}

.info {
    position: absolute;
max-width: 750px;
height: 114px;
margin: 0 40px 40px 40px;
top: 290px;

font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;

    color: #0d0857;
}

.portfolio {
    text-align: left;
    font-family: 'Gilroy';
    font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 28px;
} 
